<ion-tabs class="tabs-striped tabs-top tabs-color-calm">
  <ion-tab title="Timeline" icon-on="ion-social-twitter" icon-off="ion-social-twitter-outline" ui-sref="tabs.twitts">
    <ion-nav-view name="twitts-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon-on="ion-ios7-bell" icon-off="ion-ios7-bell-outline" ui-sref="tabs.notifications">
    <ion-nav-view name="notifications-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profil" icon-on="ion-ios7-person" icon-off="ion-ios7-person-outline" ui-sref="tabs.profil">
    <ion-nav-view name="profil-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
